@tailwind base;
@tailwind components;
@tailwind utilities;



.menu{
    transition: all 0.5s;
}

.bg-img{
    background-size: 100% 100%;
}

.menu.active{
    transform: translateY(0%);
    top: 0px;
}